:root {
	--bloodcolor: rgb(250, 20, 60);
	--bloodcoloralpha: rgb(250, 20, 60, 0.8);
	--target-bless: deepskyblue;
	--army-size: 12;
	/*image-rendering: pixelated;*/
  }

@keyframes blink {
	50% {
	  opacity: 0.5;
	}
  }

  @keyframes glow-red {
	from {
	  box-shadow: 0 0 5px 1px var(--bloodcolor);
	}
	to {
	  box-shadow: 0 0 20px 2px var(--bloodcolor);
	}
  }
  
  @keyframes glow-blue {
	from {
	  box-shadow: 0 0 5px 1px var(--target-bless);
	}
	to {
	  box-shadow: 0 0 20px 2px var(--target-bless);
	}
  }
  
  @keyframes project {
	from {
		translate: 0px 0px;
		opacity: 0;
	}	
	
	5% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	to {
		translate: var(--x) var(--y);
		opacity: 0;
	}
  }

  .target-shot img {
	box-shadow: 0 0 5px var(--bloodcolor);
	animation: glow-red 1s ease-in-out infinite alternate;
  }
  
  .target-bless img {
	box-shadow: 0 0 5px var(--target-bless);
	animation: glow-blue 1s ease-in-out infinite alternate;
  }

  .dtgrid {
	max-width: 100vw;
	max-height: 100vh;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	overflow: auto;
    padding-bottom: 10px;
  }

  .card .icon {
	margin-bottom: 5px;
	margin-right: 2px;
	min-width: 100%;
	height: auto;
  }

 .card {
	min-inline-size: max-content;
	background-color: thistle;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: monospace;
	text-align: left;
	line-height: 1.2em;
	transform-style: preserve-3d;
	transition: 0.5s;
  }

  .card-front {
	backface-visibility: hidden;
  }

  .card-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	opacity: 1;
	backface-visibility: hidden;
  }

  .flipped:not(.activeunit) {
	transform: rotateY(180deg);
  }

  .card > * {
	pointer-events: none;
  }

  .card .stats, .card .descr {
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px; 
	white-space: normal;
	height: 100%;
	/*text-overflow: ellipsis;*/
	overflow: hidden;
  }

  .activeunit:not(.emptyslot) {
	animation: blink 1s linear infinite;
  }

  .aliveunit {
	opacity: 1;
  }
  
  .emptyslot {
	border: none;
	opacity: 0;
	transition: 0.2s;
  }
  
  .target-move:hover {
	opacity: 1;
  }

  .target-move * {
	opacity: 0;
  }
  
  .projectile {
	opacity: 1;
	--x: 0;
	--y: 0;
	--timeout: 100;
	pointer-events: none;
	position: absolute;
	width: 64px;
	height: auto;
	animation-name: project;
	z-index: 1000;
	animation-duration: var(--timeout);
	animation-timing-function: linear;
	animation-fill-mode: forwards;
  }

  .poisoned {
	filter: hue-rotate(90deg);
  }